@if (cuestionario) {
    <div class="container">
        <div class="hero">
            <div>
                <h1>{{ cuestionario.titulo }}</h1>
                <p>{{ cuestionario.descripcion }}</p>

                <div class="meta">
                    <mat-icon>quiz</mat-icon>
                    <span>
                    {{ cuestionario.preguntas.length }} preguntas
                    </span>
                </div>
            </div>

        </div>

        <div class="preguntas-container">
            @for (pregunta of cuestionario.preguntas; track pregunta.id; let i = $index) {
            <mat-card class="pregunta-card">
                <div class="pregunta-numero">Pregunta {{ i + 1 }}</div>
                <h3>{{ pregunta.pregunta }}</h3>

                <mat-radio-group class="opciones" (change)="seleccionarRespuesta(pregunta.id, $event.value)">
                @for (opcion of pregunta.opciones; track opcion.id) {
                    <mat-radio-button class="opcion" [value]="opcion.id">
                    {{ opcion.texto_opcion }}
                    </mat-radio-button>
                }
                </mat-radio-group>
            </mat-card>
            }
        </div>

        <div class="acciones">
            <button mat-stroked-button (click)="cancelar()">
            Cancelar
            </button>

            <button mat-flat-button color="primary" (click)="enviar()">
            Finalizar evaluación
            </button>
        </div>
    </div>
}