@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.registro-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;

  background:
    linear-gradient(
      rgba(0, 29, 106, 0.8),
      rgba(0, 29, 106, 0.8)
    ),
    url('/image/cardiovascular.png');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.registro-card {
  max-width: 520px;
  padding: 32px;
  border-radius: 20px;
  backdrop-filter: blur(8px);
  animation: fadeIn .5s ease;
}

.registro-header {
  text-align: center;
  margin-bottom: 10px;
}

.registro-header h1 {
  margin-bottom: 8px;
  color: #E63946;
}

.registro-header p {
  color: #264653;
}

.registro-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

mat-form-field {
  width: 100%;
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.actions button {
  flex: 1;
}

button[mat-flat-button] {
  background: #2A9D8F;
  color: white;
}

button[mat-flat-button]:hover {
  box-shadow: 0 0 15px rgba(250, 178, 66, .5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}